<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dataProcess.model.modelMapper.Adult4DGroupMapper" >
  <resultMap id="BaseResultMap" type="dataProcess.model.Adult4DGroup" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="tuple_id" property="tupleId" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="native_country" property="nativeCountry" jdbcType="VARCHAR" />
    <result column="occupation" property="occupation" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="marital_status" property="maritalStatus" jdbcType="VARCHAR" />
    <result column="workclass" property="workclass" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="dataProcess.model.Adult4DGroup" >
    insert into adult_4d_group (id, tuple_id, group_id, 
      age, sex, native_country, 
      occupation, education, marital_status, 
      workclass)
    values (#{id,jdbcType=INTEGER}, #{tupleId,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, 
      #{age,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR}, #{nativeCountry,jdbcType=VARCHAR}, 
      #{occupation,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{maritalStatus,jdbcType=VARCHAR}, 
      #{workclass,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dataProcess.model.Adult4DGroup" >
    insert into adult_4d_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tupleId != null" >
        tuple_id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="nativeCountry != null" >
        native_country,
      </if>
      <if test="occupation != null" >
        occupation,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="maritalStatus != null" >
        marital_status,
      </if>
      <if test="workclass != null" >
        workclass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tupleId != null" >
        #{tupleId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nativeCountry != null" >
        #{nativeCountry,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null" >
        #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null" >
        #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="workclass != null" >
        #{workclass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertByBatch" parameterType="java.util.List">
    INSERT INTO adult_4d_group (tuple_id, group_id,
    age, sex, native_country,
    occupation, education,marital_status,workclass) VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.tupleId},#{item.groupId,},#{item.age},#{item.sex},#{item.nativeCountry},
      #{item.occupation},#{item.education},#{item.maritalStatus},#{item.workclass})
    </foreach>

  </insert>
</mapper>