<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dataProcess.model.modelMapper.OriginAdult3DMapper" >
  <resultMap id="BaseResultMap" type="dataProcess.model.OriginAdult3D" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="native_country" property="nativeCountry" jdbcType="VARCHAR" />
    <result column="occupation" property="occupation" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="marital_status" property="maritalStatus" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="dataProcess.model.OriginAdult3D" >
    insert into origin_adult_3d (id, age, sex, 
      native_country, occupation, education, 
      marital_status)
    values (#{id,jdbcType=INTEGER}, #{age,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR}, 
      #{nativeCountry,jdbcType=VARCHAR}, #{occupation,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, 
      #{maritalStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dataProcess.model.OriginAdult3D" >
    insert into origin_adult_3d
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="nativeCountry != null" >
        native_country,
      </if>
      <if test="occupation != null" >
        occupation,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="maritalStatus != null" >
        marital_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nativeCountry != null" >
        #{nativeCountry,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null" >
        #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null" >
        #{maritalStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    SELECT * FROM origin_adult_3d
  </select>
  <insert id="insertByBatch" parameterType="java.util.List">
    INSERT INTO origin_adult_3d (age, sex,
    native_country, occupation, education,marital_status
    ) VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.age},#{item.sex},#{item.nativeCountry},
      #{item.occupation},#{item.education},#{item.maritalStatus})
    </foreach>

  </insert>
</mapper>