<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dataProcess.model.modelMapper.WeightAdult5DGroupMapper">
  <resultMap id="BaseResultMap" type="dataProcess.model.WeightAdult5DGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tuple_id" jdbcType="INTEGER" property="tupleId" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="native_country" jdbcType="VARCHAR" property="nativeCountry" />
    <result column="occupation" jdbcType="VARCHAR" property="occupation" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="marital_status" jdbcType="VARCHAR" property="maritalStatus" />
    <result column="workclass" jdbcType="VARCHAR" property="workclass" />
    <result column="race" jdbcType="VARCHAR" property="race" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tuple_id, group_id, age, sex, native_country, occupation, education, marital_status, 
    workclass, race, weight
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from weight_adult_5d_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from weight_adult_5d_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="dataProcess.model.WeightAdult5DGroup">
    insert into weight_adult_5d_group (id, tuple_id, group_id, 
      age, sex, native_country, 
      occupation, education, marital_status, 
      workclass, race, weight
      )
    values (#{id,jdbcType=INTEGER}, #{tupleId,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, 
      #{age,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER}, #{nativeCountry,jdbcType=VARCHAR}, 
      #{occupation,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{maritalStatus,jdbcType=VARCHAR}, 
      #{workclass,jdbcType=VARCHAR}, #{race,jdbcType=VARCHAR}, #{weight,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="dataProcess.model.WeightAdult5DGroup">
    insert into weight_adult_5d_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tupleId != null">
        tuple_id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="nativeCountry != null">
        native_country,
      </if>
      <if test="occupation != null">
        occupation,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="maritalStatus != null">
        marital_status,
      </if>
      <if test="workclass != null">
        workclass,
      </if>
      <if test="race != null">
        race,
      </if>
      <if test="weight != null">
        weight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tupleId != null">
        #{tupleId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="nativeCountry != null">
        #{nativeCountry,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null">
        #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="workclass != null">
        #{workclass,jdbcType=VARCHAR},
      </if>
      <if test="race != null">
        #{race,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dataProcess.model.WeightAdult5DGroup">
    update weight_adult_5d_group
    <set>
      <if test="tupleId != null">
        tuple_id = #{tupleId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="nativeCountry != null">
        native_country = #{nativeCountry,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null">
        occupation = #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        marital_status = #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="workclass != null">
        workclass = #{workclass,jdbcType=VARCHAR},
      </if>
      <if test="race != null">
        race = #{race,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dataProcess.model.WeightAdult5DGroup">
    update weight_adult_5d_group
    set tuple_id = #{tupleId,jdbcType=INTEGER},
      group_id = #{groupId,jdbcType=INTEGER},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      native_country = #{nativeCountry,jdbcType=VARCHAR},
      occupation = #{occupation,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      marital_status = #{maritalStatus,jdbcType=VARCHAR},
      workclass = #{workclass,jdbcType=VARCHAR},
      race = #{race,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>